<html>
<head>
	<link rel="stylesheet" href="css/style.css">
	<title>About - Cosmos</title>
</head>
<body>
	<div id="page">
		<div id="header">
			<div>
				<a href="/home" class="logo"><img src="images/logo.png" alt=""></a>
				<ul id="navigation">
					<li>
						<a href="/home">Home</a>
					</li>
					<li class="selected">
						<a href="/about">About</a>
					</li>
					<li class="menu">
						<a href="/projects">Projects</a>
						<ul class="primary">
							<li>
								<a href="/project1">Project 1</a>
							</li>
						</ul>
					</li>
					<li class="menu">
						<a href="/blog">Blog</a>
						<ul class="secondary">
							<li>
								<a href="/blog1">Blog 1</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="/contact">Contact</a>
					</li>
				</ul>
			</div>
		</div>
		<div id="body" class="about">
			<div class="header">
				<div>
					<h1>About</h1>
					<h2>This a website based on outer space research.</h2>
					<p>About our name: Cosmos, in astronomy, the entire physical universe considered as a unified whole (from the Greek kosmos, meaning “order,” “harmony,” and “the world”).Humanity's growing understanding of all the objects and phenomena within the cosmic system is explained in the article universe.</p>
				</div>
			</div>
			<div class="body">
				<div>
					<img src="images/earth-satellite.jpg" alt="">
					<h2>About our Team</h2>
					<p>Our team consists of 4 members who are working on this site to make it functional and easy to use.</p>
				</div>
			</div>
			<div class="footer">
				<div>
					<img src="images/space-shuttle.png" alt="">
					<h2>Be Part of Our Community</h2>
					<p>If you’re experiencing issues and concerns about this website, join the discussion <a href="https://app.slack.com/client/TQAQJHA2F/C020XUPSA5R">on our slack</a> and meet other members of the website.</p>
				</div>
			</div>
			<div class="section">
				<div>
					<h2>Website Details</h2>
					<p> This website was made using HTML/CSS, Bootstrap, NodeJS for backend, MongoDB for database and JavaScript.</p>
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="connect">
				<div>
					<h1>FOLLOW OUR  MISSIONS ON</h1>
					<div>
						<div>
							<a href="https://www.facebook.com/" class="facebook">facebook</a>
						<a href="https://www.twitter.com/" class="twitter">twitter</a>
						<a href="https://www.google.com/" class="googleplus">google</a>
						<a href="https://www.pinterest.com/" class="pinterest">pinterest</a>
						</div>
					</div>
				</div>
			</div>
			<div class="footnote">
				<div>
					<p>&copy; 2021 BY COSMOS | ALL RIGHTS RESERVED</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>