<html>
<head>
	<title>Blog1 - COSMOS</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="page">
		<div id="header">
			<div>
				<a href="/home" class="logo"><img src="images/logo.png" alt=""></a>
				<ul id="navigation">
					<li>
						<a href="/home">Home</a>
					</li>
					<li>
						<a href="/about">About</a>
					</li>
					<li class="menu">
						<a href="/projects">Projects</a>
						<ul class="primary">
							<li>
								<a href="/project1">Project 1</a>
							</li>
						</ul>
					</li>
					<li class="menu">
						<a href="/blog">Blog</a>
						<ul class="secondary selected">
							<li>
								<a href="/blog1">Blog 1</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="/contact">Contact</a>
					</li>
				</ul>
			</div>
		</div>
		<div id="body">
			<div class="header">
				<div>
					<h1>Single Post</h1>
					<div class="article">
						<img src="images/martianrover-journey.jpg" alt="">
						<h1>MARTIAN ROVER JOURNEY</h1>
						<span>July 30, 2020</span>
						<p>NASA's Mars 2020 Perseverance rover will look for signs of past microbial life, cache rock and soil samples, and prepare for future human exploration.</p>
						<p>NASA's Mars Exploration Rover (MER) mission was a robotic space mission involving two Mars rovers, Spirit and Opportunity exploring the planet Mars.</p>
					</div>
					<div class="sidebar">
						<ul>
							<li>
								<h1>FEATURED POSTS</h1>
								<a href="/blog"><img src="images/moon-satellite.jpg" alt=""></a>
								<h2>SOYUZ TMA-M</h2>
								<span>NOVEMBER 28, 2002</span>
							</li>
							<li>
								<h1>RECENT POSTS</h1>
								<ul>
									<li>
										<a href="/blog"><img src="images/alien-life.jpg" alt=""></a>
										<h2>ALIEN LIFE</h2>
										<span>JULY 24, 2008</span>
									</li>
									<li>
										<a href="/blog"><img src="images/galaxy.jpg" alt=""></a>
										<h2>THE GALAXY</h2>
										<span>OCTOBER 14, 2000</span>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="connect">
				<div>
					<h1>FOLLOW OUR  MISSIONS ON</h1>
					<div>
						<div>
							<a href="https://www.facebook.com/" class="facebook">facebook</a>
						<a href="https://www.twitter.com/" class="twitter">twitter</a>
						<a href="https://www.google.com/" class="googleplus">google</a>
						<a href="https://www.pinterest.com/" class="pinterest">pinterest</a>
					</div>
					</div>
				</div>
			</div>
			<div class="footnote">
				<div>
					<p>&copy; 2021 BY COSMOS | ALL RIGHTS RESERVED</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>